---
layout: body
---

    {% assign display_header_is_not_empty = page.display_header | is_not_empty %}
    {% if display_header_is_not_empty %}
        <!-- Header -->
        <header id="header">
            <h1>{{ site.title }}</h1>
        </header>
    {% endif %}
    
    <!-- Main -->
    <section id="main" class="wrapper alt">
        <div class="inner">
            
            <header class="major special">
                <h2>{{ page.title }}</h2>
                {{ page.subtitle | markdownify }}
            </header>
            
            {% assign content_img_is_not_empty = page.content_img | is_not_empty %}
            {% if content_img_is_not_empty %}
                <a href="#" class="image fit"><img src="{{ page.content_img | relative_url }}" alt="" /></a>
            {% endif %}
            
            {{ content }}
            
        </div>
    </section>
